In [1]:
import glob
import re
import pandas as pd
from collections import defaultdict, Counter

In [2]:
data_pths = glob.glob('old_db/*.csv')
data_pths.sort()
data_pths

['old_db/a_cat_images.csv',
 'old_db/ar_articles.csv',
 'old_db/ar_authors.csv',
 'old_db/ar_magazins.csv',
 'old_db/ar_rel_authors_articles.csv',
 'old_db/ar_rel_magazins_articles.csv',
 'old_db/ar_themes.csv']

In [3]:
fns = [i.split('/')[-1].split('.')[0] for i in data_pths]
fns

['a_cat_images',
 'ar_articles',
 'ar_authors',
 'ar_magazins',
 'ar_rel_authors_articles',
 'ar_rel_magazins_articles',
 'ar_themes']

In [4]:
pd.read_csv(data_pths[0])

    id  fk_category                                  image_path  width  height
0    5            1  /images/storage/dir_1/1181215173188099.jpg    180     135
1    6            1  /images/storage/dir_1/1181216394390911.jpg    670     464
2    7            2   /images/storage/dir_1/118396340655808.jpg    329     342
3    8            3  /images/storage/dir_1/1183966228177884.jpg    209     298
4    9            3  /images/storage/dir_1/1189410840131552.jpg    206     298
..  ..          ...                                         ...    ...     ...
61  70            3  /images/storage/dir_1/1455797496250067.png    200     300
62  71            3  /images/storage/dir_1/1455797508219283.jpg    200     300
63  72            3  /images/storage/dir_1/1455797523185574.jpg    200     300
64  73            3  /images/storage/dir_1/1455797533439812.jpg    200     300
65  74            3  /images/storage/dir_1/1455797541217567.jpg    200     300

[66 rows x 5 columns]

In [5]:
pd.read_csv(data_pths[1])

,id,fk_theme,title,header,body,file_name,active
0,54,30,Петербургский рынок хлебобулочных изделий,Здесь мы представляем Вашему вниманию информац...,"&nbsp;&nbsp;&nbsp; Мы привыкли к тому, что тра...",/files/dir_1/article_content1180565780299588fi...,Y
1,55,30,СПб рынок фасованной муки,NaN,NaN,NaN,Y
2,56,30,Рынок газированных напитков,NaN,NaN,NaN,Y
3,57,30,Петербургский рынок рыбы,NaN,NaN,NaN,Y
4,58,30,Продажи и потребление рыбных полуфабрикатов в СПб,NaN,NaN,NaN,Y
...,...,...,...,...,...,...,...
1080,1148,45,Вызовы индивидуализации,NaN,NaN,/files/2019/2019-1-09.pdf,Y
1081,1149,45,Отклики читателей на публикацию книги «Моя жил...,NaN,NaN,/files/2019/2019-1-10.pdf,Y
1082,1150,32,Новинки и бестселлеры по социологии и маркетингу,NaN,NaN,/files/2001/2001-1-11.pdf,Y
1083,1151,26,К вопросу о создания интегрированной системы и...,NaN,NaN,/files/2001/2001-1-10.pdf,Y
1084,1152,33,Теперь вместе,NaN,NaN,/files/2001/2001-1-01.pdf,Y

In [6]:
pd.read_csv(data_pths[2])

      id                                         author  for_del
0    278                          БизнесЛинк Консалтинг        0
1    279  Управление маркетинга ИФГ “Ленстройматериалы”        0
2    280                         Компания «Той-Опинион»        0
3    281                                       А. Осиик        0
4    282                                     ИФ “СТОИК”        0
..   ...                                            ...      ...
706  989                                М. Полтинникова        0
707  990                                     Н. Головин        0
708  991                                    Ю. Нестеров        0
709  992                                       А. Мухин        0
710  993                                    Н. Скворцов        0

[711 rows x 3 columns]

In [7]:
pd.read_csv(data_pths[3])

      id  year  number
0     48  1997       1
1     49  1997       6
2     50  1997       2
3     51  1998       2
4     52  2000       3
..   ...   ...     ...
133  181  2019       2
134  182  2019       3
135  183  2019       4
136  184  2019       5
137  185  2019       6

[138 rows x 3 columns]

In [8]:
pd.read_csv(data_pths[4])

        id  fk_author  fk_article
0      437        278          54
1      438        278          57
2      439        278          58
3      440        278         103
4      441        278         184
...    ...        ...         ...
2078  2533        480        1151
2079  2534        481        1151
2080  2535        482        1151
2081  2536        483        1151
2082  2537        993        1152

[2083 rows x 3 columns]

In [9]:
pd.read_csv(data_pths[5])

        id  fk_magazin  fk_article
0       48          48          54
1       49          49          55
2       50          50          56
3       51          50          57
4       52          51          58
...    ...         ...         ...
1113  1178         180        1148
1114  1179         180        1149
1115  1180          61        1150
1116  1181          61        1151
1117  1182          61        1152

[1118 rows x 3 columns]

In [10]:
pd.read_csv(data_pths[6])

    id                                              theme
0   19                             Поведение потребителей
1   20  Компьютеры, средства связи и информационные те...
2   21                Социально-политические исследования
3   22                                Социальные проблемы
4   23                       Социокультурные исследования
5   24             Социально-психологические исследования
6   25                            Анализ рынка масс-медиа
7   26                               Методология и методы
8   27                                        Размышления
9   28              Проблемы профессионального сообщества
10  29          Современная история российской социологии
11  30                              Потребительский рынок
12  31                          Публикации на разные темы
13  32                                      Книжная полка
14  33                              Информация, сообщения
15  34                                           Некролог
16  36                        Культурная жизнь Петербурга
17  38  Прошлое и настоящее в изучении общественного м...
18  47                                               Эссе
19  45                                           Рецензии
20  46                               Полемические заметки
21  48                                  Исследования кино
22  49                                 Социология религии
23  50                              Социология литературы
24  53                             Социология образования

In [11]:
data = dict()
for i in zip(fns, data_pths):
    data[i[0]] = pd.read_csv(i[1])

In [12]:
data.keys()

dict_keys(['a_cat_images', 'ar_articles', 'ar_authors', 'ar_magazins', 'ar_rel_authors_articles', 'ar_rel_magazins_articles', 'ar_themes'])

In [13]:
data['ar_articles'].tail(20)

,id,fk_theme,title,header,body,file_name,active
1065,1133,29,Нариман Аитов. Основатель социологии в Башкорт...,NaN,NaN,/files/2018/2018-6-01.pdf,Y
1066,1134,21,Голосование за радикальные правые партии в Евр...,"<p><a href=""https://doi.org/10.33491/telescope...",<body>\n<p><b>Аннотация</b>: Статья посвящена ...,/files/2018/2018-6-02.pdf,Y
1067,1135,28,Психологические трудности в работе интервьюеро...,NaN,NaN,/files/2018/2018-6-03.pdf,Y
1068,1136,23,Как мы находим дорогу?,NaN,NaN,/files/2018/2018-6-04.pdf,Y
1069,1137,33,33 экспедиционных дня 2018 года (заметки с соц...,NaN,NaN,/files/2018/2018-6-05.pdf,Y
1070,1138,31,Поэтические зарисовки к «афоризмам житейской м...,NaN,NaN,/files/2018/2018-6-06.pdf,Y
1071,1139,33,Содержание 1-6 номеров журнала за 2018 год,NaN,NaN,/files/2018/2018-6-07.pdf,Y
1072,1140,21,Голосование за радикальные правые партии в Евр...,"<p><a href=""https://doi.org/10.33491/telescope...",<body>\n<p><b>Аннотация</b>: Статья посвящена ...,/files/2019/2019-1-01.pdf,Y
1073,1141,27,От глобализации к постглобализации: анклавы до...,"<p><a href=""https://doi.org/10.33491/telescope...",<p><b>Аннотация</b>: В статье представлена поп...,/files/2019/2019-1-02.pdf,Y
1074,1142,27,Постглобализация и новые контуры будущей совре...,"<p><a href=""https://doi.org/10.33491/telescope...",<p><b>Аннотация</b>: Статья посвящена обсужден...,/files/2019/2019-1-03.pdf,Y
1075,1143,22,Преступность как повседневность,"<p><a href=""https://doi.org/10.33491/telescope...",<p><b>Аннотация</b>: В статье обосновывается п...,/files/2019/2019-1-04.pdf,Y
1076,1144,26,Аппарат научного знания в социологии: постанов...,"<p><a href=""https://doi.org/10.33491/telescope...",<p><b>Аннотация</b>: Статья открывает цикл пуб...,/files/2019/2019-1-05.pdf,Y
1077,1145,26,О биографичности социологического творчества. ...,"<p><a href=""https://doi.org/10.33491/telescope...","<p><b>Аннотация</b>: Утверждается, что творчес...",/files/2019/2019-1-06.pdf,Y
1078,1146,20,Посещаемость сайта журнала «Телескоп» в 2018 году,NaN,NaN,/files/2019/2019-1-07.pdf,Y
1079,1147,29,Леонид Кесельман: человек и явление. К 75-лети...,NaN,NaN,/files/2019-1-08.pdf,Y
1080,1148,45,Вызовы индивидуализации,NaN,NaN,/files/2019/2019-1-09.pdf,Y
1081,1149,45,Отклики читателей на публикацию книги «Моя жил...,NaN,NaN,/files/2019/2019-1-10.pdf,Y
1082,1150,32,Новинки и бестселлеры по социологии и маркетингу,NaN,NaN,/files/2001/2001-1-11.pdf,Y
1083,1151,26,К вопросу о создания интегрированной системы и...,NaN,NaN,/files/2001/2001-1-10.pdf,Y
1084,1152,33,Теперь вместе,NaN,NaN,/files/2001/2001-1-01.pdf,Y

In [14]:
all_articles_df = data['ar_articles']#.set_index(['id'])
all_articles = all_articles_df.to_dict(orient='index')
all_articles[1073]

{'id': 1141,
 'fk_theme': 27,
 'title': 'От глобализации к постглобализации: анклавы дополненной современности и перспективы социального развития',
 'header': '<p><a href="https://doi.org/10.33491/telescope2019.102">doi:10.33491/telescope2019.102</a></p>',
 'body': '<p><b>Аннотация</b>: В статье представлена попытка реконцептуализации социального развития и предложен подход к измерению уровня развития для обществ в условиях постглобализации, когда глобализующие жизнь структуры – сети и потоки парадоксальным образом локализованы в суперурбанизированных центрах. Экономический и социальный разрыв между группой крупнейших городов и остальным миром указывает на то, что результатом глобализации стало не возникновение «мирового общества» или «всемирной социальности», а скорее возникновение сети анклавов глобальности, где жизнь людей по-настоящему глобальна: транснациональна,  мультикультуральна и мобильна. Мегаполисы притягивают и генерируют материальные, символические и человеческие потоки, и потому социальная жизнь в них сверхнасыщенная, принимающая форму дополненной современности. Суперурбанизированные анклавы дополненной современности контрастируют с окружающими территориями, откуда вымываются ресурсы и где социальная жизнь переходит в режим истощенной современности. Перспективы социального развития наций теперь зависят от числа, размеров и влияния космополитичных мегаполисов. Поэтому в условиях постглобализации традиционные средства измерения уровня развития предлагается дополнить индексом суперурбанизации.</p> \n<p> <b>Ключевые слова</b>: социальное развитие, постглобализация, индекс суперурбанизации, дополненная современность</p>\n<hr>\n<p><span class="title_1">FROM  GLOBALIZATION TO POST-GLOBALIZATION: ENCLAVES OF AUGMENTED MODERNITY AND PROSPECTS OF SOCIAL DEVELOPMENT</span></p>\n<p><span class="title_4">Dmitry Ivanov</span>\n— Doctor of Sociology, Professor, St. Petersburg State University</p>\n<p><a href="https://doi.org/10.33491/telescope2019.102">doi:10.33491/telescope2019.102</a></p>\n<p><b>Summary</b>: The article presents an attempt to reconceptualize social development and to measure its level for societies facing the post-globalization as globalizing networks and flows paradoxically are localized in super-urban areas. The economic and social divide between the group of the largest cities and the rest of the world supports the idea that globalization has resulted not in the ‘world society’ or ‘worldwide sociality’ but rather in networked enclaves of globality where people experience borderless, multicultural, and mobile social life in the regime of augmented modernity. In the post-globalization age, the ‘core’ of socioeconomic order is dispersed into networks of enclaves of augmented modernity contrasting with exhausted modernity outside them. The nations’ prospects of social development depend on number, size, and influence of cosmopolitan super-urban areas attracting and generating transnational material, human, and symbolic flows. The super-urbanization index is elaborated to measure nations’ prospects under post-globalization conditions. Traditional indices of standard of living and quality of life have to be augmented in the new theoretical model and system of empirical indicators of social development under post-globalization conditions.</p> \n<p><b>Key-words</b>: social development, post-globalization, super-urbanization index, augmented modernity</p>\n<p><b>References</b><br></p>\n<ul>\n<li>Appadurai A. (1996) Modernity at Large: Cultural Dimensions of Globalization. Minneapolis: University of Minnesota Press.</li>\n<li>Arrighi G. Global Capitalism and the Persistence of the North – South Divide // Science & Society. 2001. 65 (4), P. 469-476.</li>\n<li>Baudrillard J. (1994) Simulacra and Simulation. Ann Arbor.</li>\n<li>Bauman Z. (1998) Globalization: the human consequences. New York: Columbia University Press.</li>\n<li>Bauman Z. (2000) Liquid Modernity. Cambridge.</li>\n<li>Bogomyagkova E. S. (2016) New Configurations of Social Inequality in the Context of Biotechnologies Development // Teleskop. Journal of Sociology and Marketing Research. N 2 (116), p. 38-42.</li>\n<li>Bourdieu P. (1998) Practical Reason: on the Theory of Action. Stanford.</li>\n<li>Buehl A. (1997) Die Virtuelle Gesellschaft. Opladen: Westdeutscher Verlag.</li>\n<li>Castells M. (1996) The Rise of the Network Society. Oxford: Blackwell. </li>\n<li>G8 Communique Okinawa (2000). Доступно в интернете по адресу: http://www.g8.utoronto.ca/summit/2000okinawa/finalcom.htm</li>\n<li>Giddens A. (1990) The Consequences of Modernity. Cambridge: Polity Press.</li>\n<li>Giddens A. (1984) The Constitution of Society. Outline of the Theory of Structuration. Cambridge.</li>\n<li>Graham N. (2000) Information Society as Theory or Ideology: A Critical Perspective on Technology, Education and Employment in the Information Age, in Information, Communication & Society. N3, P. 139-151.</li>\n<li>Ivanov D. V. (2000) Virtualization of Society. St. Petersburg: Peterburgskoe Vostokovedenie.</li>\n<li>Ivanov D. V. (2002) Virtualization imperative: Contemporary theories of societal change. St. Petersburg: St. Petersburg University Publishing.</li>\n<li>Ivanov D. V. (2012) Towards a theory of flow structures // </li>\n<li>Ivanov D. V. (2015) New Configurations of Inequality: Enclaves of Globality and Structures of Glam-Capitalism // Teleskop. Journal of Sociology and Marketing Research. N 4 (112), p. 24-31.</li>\n<li>Ivanov D. V., Asochakov Y. V. (2016) The Future as a Subject of Sociology // Teleskop. Journal of Sociology and Marketing Research. N 3 (117), p. 15-21.</li>\n<li>Khanna P. (2016) Connectography: Mapping the Future of Global Civilization. New York: Random House.</li>\n<li>Knorr Cetina K. (2001) Postsocial Relations. Theorizing in a Postsocial Environment // Handbook of Social Theory. ed. by G. Ritzer and B. Smart. London: SAGE Publications. </li>\n<li>Lash S., Urry G. (1994) Economies of Signs and Spaces. London.</li>\n<li>Latour B. (1996) On actor-network theory. A few clarifications // Soziale Welt. Vol. 47, No 4. P. 369-381.</li>\n<li>Latour B. (2005) Reassembling the Social: An Introduction to Actor-Network Theory. Oxford.</li>\n<li>Luhmann N. (1984) Soziale Systeme: Grundriss einer allgemeinen Theorie, Frankfurt: Suhrkamp.</li>\n<li>Lyotard J.-F. (1984) The Postmodern Condition. Manchester.</li>\n<li>McKinsey Global Institute. (2012) Urban America: US Cities in the Global Economy.</li>\n<li>McKinsey Global Institute. (2011) Urban World: Mapping the Economic Power of Cities.</li>\n<li>Okinawa Charter on Global Information Society. (2000). Retrieved from https://www.mofa.go.jp/policy/economy/summit/2000/documents/charter.html</li>\n<li>Robertson R. (1992) Globalization: Social Theory and Global Culture. London: SAGE Publications.</li>\n<li>Rosstat – Federal Agency of the State Statistics (2017). Regions of Russia. Social and Economic Indicators. Moscow: Rosstat. Retrieved from http://www.gks.ru/free_doc/doc_2017/region/reg-pok17.pdf</li>\n<li>Sassen S. (2005) The Global City: Introducing a Concept // Brown Journal of World Affairs. N 11 (2), P. 27-43.</li>\n<li>The Brookings Institution. (2012) Global Metro monitor: Slowdown, Recovery. Metropolitan Policy Program.</li>\n<li>The Brookings Institution. (2018) Global Metro monitor 2018. Metropolitan Policy Program at Brookings.</li>\n<li>United Nations. (2016) Urbanization and Development: Emerging Futures. World Cities Report 2016. Nairobi: UN-Habitat.</li>\n<li>United Nations. (2014) World Urbanization Prospects. New York: UN DESA.</li>\n<li>Urry J. (2000) Sociology beyond Societies. Mobilities for the Twenty-First Century. London and New York.</li>\n<li>Wallerstein I. (2004) World-System Analysis: An Introduction. Durham: Duke University Press.</li>\n</ul>\n',
 'file_name': '/files/2019/2019-1-02.pdf',
 'active': 'Y'}

In [16]:
topics_df = pd.read_csv(data_pths[6]).set_index(['id'])
topics = topics_df.to_dict(orient='index')

In [17]:
all_articles[0].keys()

dict_keys(['id', 'fk_theme', 'title', 'header', 'body', 'file_name', 'active'])

In [18]:
for k, a in all_articles.items():
    a['topic'] = topics[a['fk_theme']]['theme']

In [19]:
rel_magazins_articles = data['ar_rel_magazins_articles'].to_dict(orient = 'index')
rel_magazins_articles[1100]

{'id': 1165, 'fk_magazin': 179, 'fk_article': 1135}

In [20]:
issues = data['ar_magazins'].set_index('id').to_dict(orient = 'index')
issues[173]

{'year': 2017, 'number': 6}

In [21]:
for k, a in all_articles.items():
    a_id = a['id']
    for _, m in rel_magazins_articles.items():
        if a_id == m['fk_article']:
            a['year'] = issues[m['fk_magazin']]['year']
            a['number'] = issues[m['fk_magazin']]['number']

In [22]:
rel_authors_articles = data['ar_rel_authors_articles'].to_dict(orient='index')
rel_authors_articles[10]

{'id': 447, 'fk_author': 280, 'fk_article': 88}

In [23]:
article_author_id = [(v['fk_article'], v['fk_author']) for k, v in rel_authors_articles.items()]

In [25]:
article_author_id_dd = defaultdict(list)
for k, v in article_author_id:
    article_author_id_dd[k].append(v)

In [26]:
authors = data['ar_authors'].set_index('id').to_dict(orient = 'index')
authors[278]

{'author': 'БизнесЛинк Консалтинг', 'for_del': 0}

In [33]:
for k, v in authors.items():
    person = re.findall(r'^(\w{1}\.)\s(\w+)\Z', v['author'])
    if person:
        v['person'] = f'{person[0][1]} {person[0][0]}'
    else:
        v['person'] = ''

In [28]:
Counter([v['person'] for k, v in authors.items()]).most_common(5)

[('', 333),
 ('Филиппов Г.', 2),
 ('Свечников В.', 2),
 ('Осиик А.', 1),
 ('Тихонова А.', 1)]

In [29]:
authors4ed = [{k: v['author']} for k, v in authors.items() if v['person'] == '']
len(authors4ed)

333

In [30]:
edited_authors = [
 {417: 'И. Травин'},
 {418: 'Е. Евдокимова'},
 {420: 'Г. Еремичева'},
 {421: 'Ю. Манько'},
 {502: 'Интервью Б.З. Докторова с В.А. Ядовым'},
 {504: 'Интервью Б. Докторова с Л. Е. Кесельманом'},
 {533: 'Интервью Б. Докторова с Д. Константиновским'},
 {558: 'М. Девит'},
 {853: 'М. Горный'},
 {894: 'И. Штейнберг'},
 {912: 'Т. Кинцурашвили-Одикадзе'}, ###
 {985: 'Ю. Гуревич'},
 {987: 'Тюменский индустриальный университет'}
]

In [31]:
edited_items = [k for i in edited_authors for k, v in i.items()]
edited_items

[417, 418, 420, 421, 502, 504, 533, 558, 853, 894, 912, 985, 987]

In [32]:
for k, v in authors.items():
    if k in edited_items:
        for ei in edited_authors:
            for ek, ev in ei.items():
                if k == ek:
                    v['author'] = ev

In [34]:
# rerun above !!!
authors[985]

{'author': 'Ю. Гуревич', 'for_del': 0, 'person': 'Гуревич Ю.'}